{% extends 'base_medical.html' %}
{% load i18n crispy_forms_tags %}

{% block title %}{{ patient }} ({% trans 'Relatives' %}){% endblock %}

{% block content %}
    <h1>{% trans 'Patient' %}</h1>

    <div class="row">
        {% include 'includes/patient_info.html' %}
    </div>

    <form action="." method="post">
        {% csrf_token %}
        <fieldset class="panel panel-primary">
            <legend class="panel-heading">{% trans 'Relatives' %}</legend>

            <div class="panel-body">
                {{ form.media }}
                {{ form|crispy }}
                <div class="controls text-center">
                    <button type="submit" class="btn btn-primary btn-lg">{% trans 'Add relatives to patient' %}</button>
                </div>
            </div>
        </fieldset>
    </form>
{% endblock content %}
