{% extends 'base_medical.html' %}
{% load i18n crispy_forms_tags %}

{% block title %}{{ patient }} [{{ problem.wording|truncatechars:20 }}] ({% trans 'Add medical test' %}){% endblock %}

{% block content %}
    <h1>{% trans 'Patient' %}</h1>

    <div class="row">
        {% include 'includes/patient_info.html' %}
    </div>

    <h1>{% trans 'Medical problem' %}</h1>

    <div class="row">
        {% include 'includes/problem_info.html' %}
    </div>

    <h2>{% trans 'Medical tests' %}</h2>

    <div class="row">
        {% for test in object_list %}
            {% include 'includes/test_info.html' %}
        {% empty %}
            <p class="alert alert-warning">{%trans 'No medical tests defined for this medical problem.' %}</p>
        {% endfor %}
    </div>

    <form action="." method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="panel panel-primary">
            <legend class="panel-heading">{% trans 'Add medical test' %}</legend>

            <div class="panel-body">
                {{ form|crispy }}
                <div class="controls text-center">
                    <button type="submit" class="btn btn-primary btn-lg">{% trans 'Add test to medical problem' %}</button>
                </div>
            </div>
        </fieldset>
    </form>
{% endblock content %}
