{% extends 'base_medical.html' %}
{% load i18n crispy_forms_tags admin_static %}

{% block extrahead %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'datepicker/css/datepicker.css' %}" />
    <script src="{% static 'datepicker/js/bootstrap-datepicker.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('.dateinput').datepicker({format: 'yyyy-mm-dd'});
        });
    </script>
    {{ form.media }}
{% endblock %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <h1>{{ title }}</h1>

    <div class="row">
        {% include 'includes/patient_info.html' %}
    </div>

    {% if form.errors %}
        <p class="alert alert-danger">
            {% blocktrans %}Please correct the error {{ form.errors|pluralize }} below.{% endblocktrans %}
        </p>
    {% endif %}

    <p class="alert alert-info">{% trans 'Fields with * are required.' %}</p>

    <form action="." method="post">
        {% csrf_token %}
        <fieldset>
            {{ form|crispy }}
            <div class="controls text-center">
                <input type="submit" value="{% trans 'Save' %}" class="btn btn-primary btn-lg" />
            </div>
        </fieldset>
    </form>
{% endblock content %}
