{% spaceless %}
<!doctype html>
{% load i18n static setting %}
<html lang="{% setting LANGUAGE_CODE %}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
    <head>
        <meta charset="utf-8" />

        <title>{% block title %}{% endblock title %} | {% setting APP_NAME %} [{% setting CLINIC_NAME %}]</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <meta http-equiv="imagetoolbar" content="no" />

        <meta name="MSSmartTagsPreventParsing" content="TRUE" />

        <meta name="author" content="{% setting APP_AUTHOR %}" />

        <meta name="copyright" content="2002-{% now 'Y' %} {% setting APP_AUTHOR %}" />

        <meta name="description" content="{% trans 'OpenClinic is an easy to use, open source, medical records system written in Django' %}" />

        {% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock blockbots %}

        <link rel="shortcut icon" type="image/png" href="{% static 'img/miniopc.png' %}" />
        <link rel="bookmark icon" type="image/png" href="{% static 'img/miniopc.png' %}" />

        {% block style %}
            {# bootstrap #}
            <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}" />
            <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-theme.min.css' %}" />
            <link rel="stylesheet" href="{% static 'bootstrap/css/font-awesome.min.css' %}" />
            {# end bootstrap #}

            <link rel="stylesheet" href="{% static 'css/openclinic.css' %}?20171211" title="OpenClinic" />
            <link rel="stylesheet" href="{% static 'css/print.css' %}?20151214" media="print" />
        {% endblock style %}

        {% block extrastyle %}{% endblock extrastyle %}
    </head>

    <body id="top">
        <header class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">{% trans 'Toggle navigation' %}</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a accesskey="1" class="navbar-brand" href="{% url 'bootstrap' %}" title="{% setting APP_NAME %}"><span class="sr-only">{% setting APP_NAME %}</span></a>
                </div>

                <div class="collapse navbar-collapse">
                    {% block tabs %}
                        <ul class="nav navbar-nav">
                            <li>
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="drop-info">
                                    <span class="fa fa-info"></span> <span class="sr-only">{% trans 'Info' %}</span> <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="drop-info">
                                    <li><a href="{% url 'bootstrap' %}">{% trans 'Welcome' %}</a></li>
                                    <li><a href="{% url 'readme' %}">{% trans 'Readme' %}</a></li>
                                    <li><a href="{% url 'install' %}">{% trans 'Install Instructions' %}</a></li>
                                    <li><a href="{% url 'license' %}">{% trans 'License' %}</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#" class="dropdown-toggle vcard" data-toggle="dropdown" id="drop-contact">
                                    <span class="fa fa-address-card-o"></span> <span class="sr-only fn org">{% setting CLINIC_NAME %}</span> <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="drop-contact">
                                    <li><a class="url" href="{% setting CLINIC_URL %}">{% setting CLINIC_NAME %}</a></li>
                                    <li><a href="{% setting CLINIC_URL %}">{% trans 'Clinic hours' %}: {% setting CLINIC_HOURS %}</a></li>
                                    <li><a href="{% setting CLINIC_URL %}">{% trans 'Clinic address' %}: <span class="street-address">{% setting CLINIC_ADDRESS %}</span></a></li>
                                    <li><a href="{% setting CLINIC_URL %}">{% trans 'Clinic phone' %}: <span class="tel value">{% setting CLINIC_PHONE %}</span></a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="{% url 'medical_records' %}"><span class="fa fa-user-md"></span> {% trans 'Medical Records' %}</a>
                            </li>
                        </ul>
                    {% endblock tabs %}

                    {% block toggle_login %}
                        {% include 'includes/toggle_login.html' %}
                    {% endblock toggle_login %}
                </div>
            </div>
        </header>

        <hr />

        <article id="main" class="container row">
            <section id="content" class="col-md-12 col-lg-12">
                {% block messages %}
                    {% if messages %}
                        <ul class="messages list-unstyled">
                        {% for message in messages %}
                            <li{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message|safe }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                {% endblock messages %}

                {% block content %}{% endblock content %}
                <hr />
            </section>
        </article>

        <hr />

        {% include 'includes/footer.html' %}

        <script src="{% static 'js/jquery-1.11.0.min.js' %}"></script>
        <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
        {% block extrahead %}{% endblock extrahead %}
    </body>
</html>
{% endspaceless %}
